p {
    text-align: justify;
    font-weight: bold;
    margin-top: 15px;
}

form {
    margin-top: 50px;
    text-align: left;
}

input {
    margin-left: 5px;
}

button {
    color: #325B8E;
    border-color: #325B8E;
}

button:hover:not(:disabled),
button:focus:not(:disabled),
button:active:not(:disabled) {
    border-color: #325B8E;
    background-color: #325B8E;
    color: white;
}

@media only screen and (max-width: 574px) {
    #generate-qr {
        margin-bottom: 40px;
    }

    .container > div.row {
        margin-bottom: 100px;
    }
}