<div class="container">
  <div class="row  justify-content-center">
    <app-button-login 
        iconClass="fa fa-google" 
        title="Click for show qr to fill"
        socialName="alastriaId"
        [style]="styleButtonAlastriaId"
        imgUrl="../../../assets/images/alastria-icon.svg"
        (handleLoginSocial)="showModalQr($event)">
    </app-button-login>
  </div>
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit($event)" novalidate>
    <div class="row">
      <div class="col-1 hidden-sm"></div>
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="form-group">
          <label for="creditCard">Credit card</label>
          <input type="text" class="form-control" id="creditCard" formControlName="creditCard" class="form-control">
        </div>
        <div *ngIf="!serviceForm?.controls.creditCard.valid && serviceForm?.controls.creditCard.touched" class="alert alert-danger">
          Please enter your credit card
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1 hidden-sm"></div>
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="form-group">
          <label for="bloodGroup">Blood group</label>
          <input type="text" class="form-control" id="bloodGroup" formControlName="bloodGroup" class="form-control">
        </div>
        <div *ngIf="!serviceForm?.controls.bloodGroup.valid && serviceForm?.controls.bloodGroup.touched" class="alert alert-danger">
          Please enter your blood group
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1 hidden-sm"></div>
      <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="form-group">
           <label for="bloodGroup">Over-18</label><br>
          <label>
            <input type="checkbox" id="over18" formControlName="over18">
            Yes, I am over-18
          </label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group text-center">
        <button class="btn btn-outline-primary" type="submit" [disabled]="!serviceForm?.controls.creditCard.valid  || !serviceForm?.controls.bloodGroup.valid"> 
          CONTRACT 
        </button>
      </div>
    </div>
  </form>
  <app-simple-modal 
    [qrSize]="qrSize"
    [qrData]="qrData" 
    type="qr"
    (handleOk)="getServiceForm()">
  </app-simple-modal>
</div>