h3, h4 {
    position: relative;
    float: left;
}

h3 {
    color: #325B8E;
}

fa {
    color: #00CAD6;
}

h4 {
    margin-top: 20px;
}

button {
    color: #325B8E;
    border-color: #325B8E;
}

button:hover,
button:focus,
button:active {
    border-color: #325B8E;
    background-color: #325B8E;
}