h4 {
    color: #325B8E;
    border-color: #325B8E;
}

#personal-data {
    border-right: solid 1px;
}

#divide-line {
    display: none;
}

#qr-register {
    margin-top: 40px;
}

.alert {
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    #personal-data {
        border-right: none;
    }

    #divide-line {
        display: block;
        margin-bottom: 20px;
    }
}
