.content {
    width: 100%;
    height: 100%;
}

#alastria-background {
    background-color: #325B8E;
    background-image: linear-gradient(rgb(50, 91, 142, 0), rgb(0, 202, 214, 1));
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
}

.app {
    width: 50%;
    position: relative;
    float: left;
    text-align:center
}

#alastria-background > div {
    display: table-cell;
    vertical-align: middle;
}

div > img{
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 40%;
}