<div class="header">
  <div class="row">
    <div class="d-xs-none col-md-3"></div>
    <div class="col-11 col-xs-11 col-sm-11 col-md-6">
      <h2> Entity </h2>
    </div>
    <div class="col-1 col-sm-1 col-md-3">
      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <ul>
            <li>
              <a href="/profile">My Profile</a>
            </li>
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/login">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</div>