ul {
    list-style:none;
    text-align: left;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.disabled, .disabled:focus, .disabled:active, .disabled:hover {
    cursor: default;
    color: gray;
}