<form>
  <div class="row" [ngClass]="{'justify-content-center': buttonName.toLowerCase() !== 'save' && !isDisabled}" *ngFor="let input of inputsForm">
    <div class="col-12 col-sm-12 col-md-8">
      <div class="form-group">
        <label [for]="input.name">{{ input.label }}</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <fa [name]="input.icon"></fa> 
            </div>
          </div>
          <input *ngIf="input.value.toLowerCase() !== 'fullname'" [type]="input.type" class="form-control" [id]="input.name" [name]="input.name" [(ngModel)]="user[input.value]" [disabled]="isDisabled">
          <input *ngIf="input.value.toLowerCase() === 'fullname'" [type]="input.type" class="form-control" [id]="input.name" [name]="input.name" [(ngModel)]="fullName" [disabled]="isDisabled">
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="{'justify-content-center': buttonName.toLowerCase() != 'save' && !isDisabled}" *ngIf="buttonName && !isDisabled">
    <div class="col-12 col-sm-12 col-md-8">
      <button type="button" class="btn btn-outline-primary" (click)="editProfile()">{{ buttonName }}</button>
    </div>
  </div>
</form>