<div class="container-button">
  <div id="icon" [ngStyle]="{'border-color': style.color, 'background-color': style.backgroundIcon, 'color': style.colorIcon }">
    <img *ngIf="imgUrl" [src]="imgUrl" [alt]="iconClass"/>
    <i *ngIf="!imgUrl" [class]="iconClass"></i>
  </div> 
  <button id="button" 
    class="btn btn-primary" 
    [ngStyle]="{'background-color': style.color, 'border-color': style.color, 'width': style.width}"
    (click)="onLogin()">
    <span>
      {{ title }}
    </span>
  </button>
</div>